/*Обнуление*/
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:link {text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/





/* fonts */

@font-face {
    font-family: "Gilroy-Bold";
    src: url(../fonts/Gilroy-Bold.woff) format('woff');
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url(../fonts/Gilroy-Medium.woff) format('woff');
}

/*----------------------------------*/




/*main*/

body {
    font-family: "Gilroy-Medium";   
}

.wrapper {
    max-width: 100%;
    overflow: hidden;
}

.content {
}

/*----------------------------------*/





/*menu*/

.menu {
}

.container {
    max-width: 963.61px;
    margin: 0px auto;
}

.menu__row {
    display: flex;
    justify-content: space-between;
    padding: 32px 10px;
    border-bottom: 1px solid #828282;
    margin: 0 0 28px 0;
}

.menu__option {
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
}

.menu__option:hover {
    color: black;
    cursor: pointer; 
}

@media (max-width:375px) {

    .menu {
        display: none;
    }

}

/*----------------------------------*/





/* bio info and pic */

.bio {
    display: flex;
    flex-direction: column;
}

.bio__row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 50px 10px;
    align-items: flex-end;
    
}

.bio__name {
    font-family: Gilroy-Bold;
    font-size: 47px;
    line-height: 59px;   
}

.bio__age {
    font-size: 18px;
    line-height: 22px;
} 

.bio__lang {
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg); 
}

.bio__lang_ru {
    color: #828282;
}

.bio__pic {
    padding: 0 10px;
    margin-bottom: 104px;
}

.bio__pic img {
    max-width: 100%;
}

@media (max-width:375px) {

    .bio {
        display: none;
    }

}

/*----------------------------------*/




/* bio and menu adaptive */

.bio-adapt {
    display: none;
}

.container__bio-adapt {
    max-width: 340px;
    margin: 0 auto;
    padding: 0 10px;
}

.bio-adapt__row {
    padding-top: 65px;
    display: flex;
    justify-content: space-between;
    font-size: 0;
}

.bio-adapt__body {
}

.bio-adapt__name {
    font-family: Gilroy-Bold;
    font-size: 47px;
    padding-bottom: 23px;
}

.bio-adapt__age {
    font-size: 18px;
    line-height: 22px;
    padding-bottom: 38px;
}

.bio-adapt__menu {
    display: flex;
    flex-direction: column;
    padding-top: 7px;
}

.bio-adapt__line {
    font-size: 0px;
    padding-bottom: 3.84px;
}

.bio-adapt__line:last-child {
    padding-bottom: 0px;
}

.bio-adapt__pic {
    padding-bottom: 83px;
}

.bio-adapt__pic img {
    max-width: 100%;
}

@media (max-width:375px) {

    .bio-adapt {
        display: block
    }

}

/*----------------------------------*/





/* about me */

.about {
    background-color: #F6F6F6;
}

.container__about {
    max-width: 485px;
    margin: 0px auto;
}

.about__title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    padding: 120px 0 27px 0;
    text-align: center;
} 

.about__body { 
    padding: 0 10px;
} 

.about__text {
    font-size: 18px;
    line-height: 18.5px;
    text-align: center;
    padding-bottom: 52px;
}

.about__text:last-child {
    padding-bottom: 110px
}

@media (max-width:375px) {

    .about__title {
        padding: 81px 0 37px 0;
        text-align: center;
    } 

    .about__text:last-child {
        padding-bottom: 76px;
    }

}

/*----------------------------------*/




/*skills*/

.skills {
}

.skills__title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    text-align: center;
    padding: 91px 0 69px 0;
}

.skills__text {
    font-size: 18px;
    text-align: center;
    padding-bottom: 84px;
}

.skills__skill-tools {
    padding:0 10px 110px 10px;
    display: flex;
}

.skills__skill-prog {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills__prog-icon {
    display: flex;
    padding-bottom: 24px;
    
}

.skills__prog-icon_BG {
    position: relative;
}

.skills__prog-icon_icon {
    position: absolute;
    top: -4px;
    left: -4px;
}

.skills__prog-icon_PS {
    position: absolute;
    top: -4px;
    left: -3px;
}

.skills__prog-name {
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 17px;
    color: #828282;
    text-align: center;
    padding-bottom: 40px;
}

.skills__prog-rate {
    display: flex;
    justify-content: space-between;
    margin: 0 -4.5px;
}

.skills__star {
    padding: 0 4.5px;
}

.skills__grey-star {
    padding: 0 4.5px;
}

.skills__figma {
    display: flex;
}

.skills__figma-column {
    display: flex;
    flex-direction: column;
}

.skills__prog-name_figma {
    font-family: Gilroy-Bold;
    font-size: 14px;
    line-height: 24px;
    color: #828282;
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width:767px) {

    .skills__skill-tools {
        flex-wrap: wrap;
        padding-bottom: 17px;
    }

    .skills__skill-prog {
        flex: 0 1 50%;
        padding-bottom: 81px; 
    } 

}

@media (max-width:375px) {

    .skills__skill-tools {
        flex-direction: column;
    }

    .skills__title {
        padding: 83px 0 50px 0;
    }

    .skills__text {
        padding-bottom: 70px;
    }

}

/*----------------------------------*/




/*portfolio*/

.portfolio {
    background: #F6F6F6;
}

.portfolio__title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    text-align: center;
    padding: 113px 0 47px 0;
}

.portfolio__work {
    padding-bottom: 99px;
}

.portfolio__img {
    padding: 0 10px 45px 10px;
}

.portfolio__img img {
    max-width: 100%;
}

.portfolio__sub {
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    text-decoration: underline;
}

.portfolio__sub:hover {
    cursor: pointer;
}

@media (max-width:375px) {

    .portfolio__title {
        padding: 81px 0 74px 0;
    }

    .portfolio__img {
        padding: 0 10px 33px 10px;
    }

    .portfolio__work {
        padding-bottom: 78px;
    }

}

/*----------------------------------*/




/*contacts*/

.contact {
}

.container__contacts {
    max-width: 342px;
    margin: 0 auto;
}

.contact__title {
    font-family: Gilroy-Bold;
    font-size: 34px;
    text-align: center;
    padding: 115px 0 29px 0;
}

.contact__text {
    font-size: 18px;
    padding-bottom: 29px;
    text-align: center;
}

.contact__button {
    max-width: 185px;
    background-color: black;
    border-radius: 20px ;
    margin: 0 auto;
    margin-bottom: 86px;
}

.contact__button:hover {
    cursor: pointer;
}

.contact__button-text{
    font-family: Gilroy-Bold;
    font-size: 18px;
    padding: 13px 0;
    color: white;
    text-align: center;
}

.contact__social-row {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 46px 10px;
}

.contact__social {
}

.contact__social-main {
    position: relative;
}

.contact__social-main:hover {
    cursor: pointer; 
}

.contact__social-inner_LN1 {
    position: absolute;
    top: 9.01px;
    left: 11.05px;
}

.contact__social-inner_LN2 {
    position: absolute;
    top: 15.67px;
    left: 11.05px;
}

.contact__social-inner_LN3 {
    position: absolute;
    top: 14.75px;
    left: 17.96px;
}

.contact__social-inner_BH1 {
    position: absolute;
    top: 11.8px;
    left: 7.13px;
}

.contact__social-inner_BH2 {
    position: absolute;
    top: 11.8px;
    left: 22.41px;
}

.contact__social-inner_BH3 {
    position: absolute;
    top: 16.80px;
    left: 21.23px;
}

.contact__sub {
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 123px;
}

@media (max-width:375px) {

    .contact__title {
        padding: 82px 0 35px 0;
    }

    .contact__button {
        margin-bottom: 48px;
    }

    .contact__social-row {
        padding: 0 10px 48px 10px;
    }

    .contact__sub {
        padding-bottom: 100px;
    }

}

/*----------------------------------*/




/*container media queries*/

@media (max-width:992px) {

    .container {
        max-width: 750px;
    }
}

@media (max-width:767px) {

    .container {
        max-width: none;
    }  
     
}

/*----------------------------------*/